# General files
*.swp
*.ctags
*.geany
.env

# Composer files
composer.phar
/composer
vendor/

# Local configs
config/autoload/*.local.php
*/config/*.php
# credentials.php
tests/config/config4tests.php
*/config/credentials.php
tests/config/default.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
/tests/tmp/*
/tmp/*

# Legacy
extras/documentation

/helper/fix-author.cfg

.gitmodules
copy-free-scripts-from-lib.php
svn/*
.svn/
/.settings
/.project
/.buildpath
/nbproject
/phpunit.log.xml
logs/
/docs/CodeCoverage/*
/docs/gitstats/*
/docs/GitStats/*
/docs/gitstat*
/docs/API/*

tests/.phpunit.result.cache
