# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php
*/config/credentials.php
tests/config/default.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

.gitmodules
copy-free-scripts-from-lib.php
svn/*
.svn/
/.settings
/.project
/.buildpath
/nbproject
/phpunit.log.xml
logs/
/docs/CodeCoverage/*
/docs/gitstats/*
/docs/API/*
/tests/testfiles/*
/tests/tmp/*
/tests/tmp/*

