<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="bootstrap.php"
    colors="true"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="true"
>

    <testsuites>
        <testsuite name="MUMSYS Library test suite - free version">
            <directory>src/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="logs/phpunit.log.xml" />
    </logging>
    
    <filter>
        <whitelist>
            <directory>../src/</directory>
            <exclude>
                <file>../src/Mumsys_Unittest_Testcase.php</file>
                <!-- <directory>../externals</directory>
                <directory>./tests</directory>
                <directory>../vendor</directory> -->
            </exclude>
        </whitelist>
    </filter>
</phpunit>
