<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="bootstrap.php"
    colors="true"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="true"
>
    <coverage>
        <include>
            <directory>../src/</directory>
        </include>
        <exclude>
            <file>../src/Mumsys_Unittest_Testcase.php</file>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="MUMSYS Library test suite - free version">
            <directory>src/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="logs/phpunit.log.xml"/>
    </logging>

</phpunit>
