<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="bootstrap.php"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="MUMSYS Library test suite">
            <directory>src/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="junit" target="logs/phpunit.log.xml" logIncompleteSkipped="false"/>
        <log type="coverage-html" target="../docs/CodeCoverage/" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    
    <filter>
        <whitelist>
            <directory>../src/</directory>
            <exclude>
                <!-- <directory>../externals</directory>
                <directory>./tests</directory>
                <directory>../vendor</directory> -->
            </exclude>
        </whitelist>
    </filter>
</phpunit>
